---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.item_name }}</h1>
    <sub><a href="../{{ page.category.path }}">{{ page.category.item_name }}</a></sub>
  </header>

  <div class="post-content">
    {{ content }}

    {% if page.problems.size > 0 %}
    <h3>Related problems</h3>
    <ul>
    {% for problem in page.problems %}
      <li>
        <a href="../{{problem.path}}">{{ problem.item_name }}</a>
        (<a href="../{{problem.class_path}}">{{ problem.class_name }}</a>)
      </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if page.options.size > 0 %}
    <h3>Options</h3>
    <ul>
    {% for option in page.options %}
      <li>
        <a href="../{{option.path}}">{{ option.item_name }}</a>: {{ option.description }}
      </li>
    {% endfor %}
    </ul>
    {% endif %}

  </div>
</article>