---
layout: content
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.item_name }}</h1>
  </header>

  {% if page.image and page.image != "none" %}
  {% include image.html image=page.image %}
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.things.size > 0 %}
  <h3>Things in this category</h3>
  <ul>
  {% for thing in page.things %}
    <li><a href="{{ thing.link | relative_url }}">{{ thing.item_name }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
</article>
